   <div class="container mt-4">
  <div class="card p-4 shadow" style="background-color: rgba(0, 0, 0, 0.6); color: white;">
    <h3 class="mb-3">¿Quién soy?</h3>

    <div class="mb-3 text-center">
      <img src="assets/mi-foto.jpg" class="img-thumbnail" alt="Mi Foto" width="200" />
    </div>

    <p><strong>Nombre:</strong> Alan Magariños</p>
    <p><strong>Edad:</strong> 35 años</p>
    <p><strong>Carrera:</strong> Tecnicatura universitaria en programación</p>
    <p><strong>Hobbies:</strong> Jugar videojuegos, leer mangas, salir a juntar kokemone y pasarla mal.</p>
    <p><strong>Me define:</strong>"I'm currently running on 2 hours of sleep, suicide thoughts and an oreo. And Im ready to fight god or became him"</p>

    <p>
      <strong>Sobre mi juego:</strong> Es un juego que se llama "Palabra Misteriosa". El juego nos ofrecera una palabra totalmente desordenada y una lista de opciones dentro de la cual tendremos que elegir la palabra correcta. Cuantas palabras correctas podran adivinar con solo 3 vidas? Averiguenlo.
    </p>
  </div>
</div>
