<!-- <div class="container mt-4">
    <div class="card p-4 shadow">
      <h3 class="mb-3">¿Quién soy?</h3>
  
      <div class="mb-3 text-center">
        <img src="assets/mi-foto.jpg" class="img-thumbnail" alt="Mi Foto" width="200" />
      </div>
  
      <p><strong>Nombre:</strong> Alan Magariños</p>
      <p><strong>Edad:</strong> 35 años</p>
      <p><strong>Carrera:</strong> Tecnicatura universitaria en programación</p>
      <p>
        <strong>Sobre mi juego:</strong> Es un juego de anagramas en el cual aparecen letras desordenadas y el jugador debe elegir la palabra correcta entre varias opciones. El objetivo es adivinar la palabra original a partir del anagrama presentado.
      </p>
    </div>
  </div>
   -->

   <div class="container mt-4">
  <div class="card p-4 shadow" style="background-color: rgba(0, 0, 0, 0.6); color: white;">
    <h3 class="mb-3">¿Quién soy?</h3>

    <div class="mb-3 text-center">
      <img src="assets/mi-foto.jpg" class="img-thumbnail" alt="Mi Foto" width="200" />
    </div>

    <p><strong>Nombre:</strong> Alan Magariños</p>
    <p><strong>Edad:</strong> 35 años</p>
    <p><strong>Carrera:</strong> Tecnicatura universitaria en programación</p>
    <p>
      <strong>Sobre mi juego:</strong> Es un juego de anagramas en el cual aparecen letras desordenadas y el jugador debe elegir la palabra correcta entre varias opciones. El objetivo es adivinar la palabra original a partir del anagrama presentado.
    </p>
  </div>
</div>
